<div class="flex flex-col">
  <div class="px-3">
    <div class="relative flex items-center justify-between">
      <p class="font-sans text-sm text-muted-400">Desarrollamos Software para crear soluciones extraordinarias con dedicación y a medida.</p>
      <button
        type="button"
        class="font-sans text-sm text-medium text-primary-500"
      >
       <!-- Select All-->
      </button>
      
    </div>
    
    <hr class="mt-6 mb-4 border-t border-muted-200 dark:border-muted-800" />

    
    
  </div>
</div>
