---
import Card from "@components/base/Card.astro";
---

<div class="grid md:grid-cols-3 ltablet:grid-cols-3 lg:grid-cols-3 gap-x-6 ptablet:gap-x-4 gap-y-16 pt-10">
  <div x-show="activeCategory === 'all' || activeCategory === '4'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/servicios/LogoHyFlex.png"
          alt="Ambientes HyFlex"
        />
      </div>
      <div class="font-heading  mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Ambientes HyFlex
        </h4>
        <p class="text-sm text-muted-400">Tecnología Educativa</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Implementamos soluciones multimedia para su aula, sala de reuniones y auditorios.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.8/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === '4'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/servicios/LogoCableadoEstructurado.png"
          alt="SOLIXTECHNOLOGIES"
        />
      </div>
      <div class="font-heading mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Cableado Estructurado
        </h4>
        <p class="text-sm text-muted-400">Infraestuctura</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Realizamos análisis, diseño, instalación y mantenimiento.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.4/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === '4'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/servicios/LogoVideoVigilancia.png"
          alt="SOLIXTECHNOLOGIES"
        />
      </div>
      <div class="font-heading mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Video Vigilancia
        </h4>
        <p class="text-sm text-muted-400">Infraestuctura</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Realizamos análisis, diseño, instalación y mantenimiento.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >5/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === '4'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/servicios/doctor-4.svg"
          alt="SOLIXTECHNOLOGIES"
        />
      </div>
      <div class="font-heading mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Soluciones Cloud
        </h4>
        <p class="text-sm text-muted-400">Infraestuctura</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Soluciones flexibles, escalables y costo-eficientes.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.8/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === '5'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/servicios/doctor-4.svg"
          alt="SOLIXTECHNOLOGIES"
        />
      </div>
      <div class="font-heading mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Licenciamiento de Software
        </h4>
        <p class="text-sm text-muted-400">Licenciamiento de Software</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Licenciamiento para empresas y educación.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.8/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === '4'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/servicios/doctor-4.svg"
          alt="SOLIXTECHNOLOGIES"
        />
      </div>
      <div class="font-heading mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Desarrollo de Software
        </h4>
        <p class="text-sm text-muted-400">Infraestuctura</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Desarrollamos aplicaciones escritorio,web y móviles.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.8/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === '4'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/servicios/doctor-4.svg"
          alt="SOLIXTECHNOLOGIES"
        />
      </div>
      <div class="font-heading mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Gestión Digital
        </h4>
        <p class="text-sm text-muted-400">Infraestuctura</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Administramos Redes Sociales, Paginas Web, Etc
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.8/5</span
          >
        </div>
      </div>
    </Card>
  </div>
   <!-- Doctor -->
   <div x-show="activeCategory === 'all' || activeCategory === '4'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/servicios/doctor-4.svg"
          alt="SOLIXTECHNOLOGIES"
        />
      </div>
      <div class="font-heading mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Consultoría
        </h4>
        <p class="text-sm text-muted-400">Infraestuctura</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Levantamiento y rediseño de procesos, Auditorias, Establecimiento de plan informático.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.8/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === '4'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/servicios/doctor-4.svg"
          alt="SOLIXTECHNOLOGIES"
        />
      </div>
      <div class="font-heading mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Venta de Equipos Tecnológicos
        </h4>
        <p class="text-sm text-muted-400">Infraestuctura</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Venta B2B, Computadoras, Servidores, Laptops, Impresoras,etc
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.8/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === '2'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/servicios/doctor-5.svg"
          alt="SOLIXTECHNOLOGIES"
        />
      </div>
      <div class="font-heading mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
         Plan Estrátegico TI
        </h4>
        <p class="text-sm text-muted-400">Gestión y Estrategia</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Brindamos asesoría independiente en el desarrollo de soluciones que le permitan incrementar la eficiencia en los componentes y factores críticos que influyen en la función de TI.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.5/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === '2'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/servicios/doctor-6.svg"
          alt="SOLIXTECHNOLOGIES"
        />
      </div>
      <div class="font-heading mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Continuidad del Negocio
        </h4>
        <p class="text-sm text-muted-400">Gestión y Estrategia</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
         A travéz de nuestro afianzado enfoque metodológico para la Gestión de la continuidad del Negocio(BCM), guiamos a las organizaciones a garantizar
         la continuidad de sus funciones y procesos criticos ante las amenazas que ponen en riesgo su operatividad.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.9/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === '2'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/servicios/doctor-7.svg"
          alt="SOLIXTECHNOLOGIES"
        />
      </div>
      <div class="font-heading mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Arquitectura Empresarial
        </h4>
        <p class="text-sm text-muted-400">Gestión y Estrategia</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          TOGAF propone una ciclo de desarrollo de arquitecturas (ADM) basado en fases e iteraciones. Este ciclo es un método para obtener arquitecturas
          Empresariales que son específicas para la organizacion y está especialmente diseñado para responder a los requerimientos del negocio.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.8/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === '2'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/servicios/doctor-7.svg"
          alt="SOLIXTECHNOLOGIES"
        />
      </div>
      <div class="font-heading mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Gestión de Procesos de TI
        </h4>
        <p class="text-sm text-muted-400">Gestión y Estrategia</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
         Dada la constante demanda por parte de las áreas de negocio de las organizaciones para que sus áreas de TI sean más agiles, confiables y brinden mayor valor,
         es como se hace necesario más que nunca adoptar una orientación a procesos a través de la formalización, diseño e implementación operativa de los 
         procesos a ejecutar por el área de TI.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.8/5</span
          >
        </div>
      </div>
    </Card>
  </div>
   <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === '2'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/servicios/doctor-7.svg"
          alt="SOLIXTECHNOLOGIES"
        />
      </div>
      <div class="font-heading mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Modelo de Gobierno y Control de TI
        </h4>
        <p class="text-sm text-muted-400">Gestión y Estrategia</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Un adecuado modelo de gobierno de TI permite a las empresas impulsar la mejora del desempeño de la función de TI y lograr una
alineamiento estratégico con el negocio, proporcionando marcos de referencia para la toma de decisiones basada en generar valor que apoye
el cumplimiento efectivo de los objetivos estratégicos.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.8/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === '3'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/servicios/doctor-8.svg"
          alt="SOLIXTECHNOLOGIES"
        />
      </div>
      <div class="font-heading mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Evaluación y Selección de Soluciones
        </h4>
        <p class="text-sm text-muted-400">Implementaciones</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          En un mundo cada vez más dependiente y demandante del uso de tecnología, cuando una organización decide adquirir una solución informática, suele enfrentarse a un mercado regionalizado o globalizado que no conoce completamente, con una extensa gama de soluciones desarrolladas
          en distintas tecnologías que, en mayor o menor medida, pueden estar dando respuesta a los requisitos y necesidades planteados.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.7/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === '3'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/servicios/doctor-8.svg"
          alt="SOLIXTECHNOLOGIES"
        />
      </div>
      <div class="font-heading mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Gestión de Proyectos de Implementación
        </h4>
        <p class="text-sm text-muted-400">Implementaciones</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          El enfoque de nuestra propuesta se basa en nuestra experiencia y capacidades en program & ProJect Managment dentro de un marco de generación de valor.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.7/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === '3'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="absolute bottom-0 inset-x-0 mx-auto w-full max-w-[170px] ptablet:max-w-[150px]"
          src="/img/illustrations/servicios/doctor-8.svg"
          alt="SOLIXTECHNOLOGIES"
        />
      </div>
      <div class="font-heading mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Evaluación y Selección de Soluciones
        </h4>
        <p class="text-sm text-muted-400">Implementaciones</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          En un mundo cada vez más dependiente y demandante del uso de tecnología, cuando una organización decide adquirir una solución informática, suele enfrentarse a un mercado regionalizado o globalizado que no conoce completamente, con una extensa gama de soluciones desarrolladas
          en distintas tecnologías que, en mayor o menor medida, pueden estar dando respuesta a los requisitos y necesidades planteados.
        </p>
      </div>
      <div class="flex items-center justify-between font-sans mt-3">
        <div class="flex items-center gap-2">
          <button
            tooltip="Book appointment"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:calendar-check-duotone"
            ></i>
          </button>
          <button
            tooltip="Send message"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:chat-circle-duotone"></i>
          </button>
          <button
            tooltip="View profile"
            class="h-8 w-8 rounded-full text-muted-400 hover:text-primary-500 hover:enabled:bg-muted-100 dark:hover:enabled:bg-muted-800 flex items-center justify-center tw-accessiblity transition-colors duration-300"
          >
            <i class="iconify w-4 h-4" data-icon="ph:user-duotone"></i>
          </button>
        </div>
        <div class="flex items-center justify-end gap-2">
          <i class="iconify w-4 h-4 text-yellow-400" data-icon="uiw:star-on"
          ></i>
          <span class="font-semibold text-xs text-muted-500 dark:text-muted-400"
            >4.7/5</span
          >
        </div>
      </div>
    </Card>
  </div>
  
</div>
